.wrap {
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 16px;
}

/* .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 150px;
  gap: 8px;
  background-color: rgba(0, 0, 0, 0.65);
  border-radius: 10px;
  box-shadow: 0 50px 100px -20px rgba(50, 50, 93, 0.25),
    0 30px 60px -30px hsla(0, 0%, 100%, 0.3);
  cursor: pointer;
  border-radius: 16px;
  overflow: hidden;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  color: var(--header-white-color);
} */
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0px solid aqua;
  margin: 0.5rem;
  position: relative;
  height: 20rem;
  overflow: hidden;
  border-radius: 0.5rem;
  flex: 1;
  min-width: 200px;
  max-width: 220px;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
}

.card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.7) 80%);
  z-index: 0;
}

.news_card__text_wrapper {
  position: absolute;
  width: 100%;
  min-height: 100px;
  bottom: 0rem;
  padding: 1rem;
  color: white;
}

.news_card__top_text{
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
  align-items: center;
  text-align: center;
}

.card img {
  width: 100%;
  object-fit: cover;
}

.wrap_actor {
  padding: 8px;
  text-align: center;
}

.card:hover {
  transform: scale(1.03);
}



