.title {
  color: var(--title-accent-collor);
  margin-bottom: 8px;
}

.text {
  color: var(--header-white-color);

}

.wrap{
  margin-bottom: 24px;
}
.content_wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.results_wrap {
  display: flex;
  gap: 8px;
  margin-bottom: 24px;
}
.results {
  font-size: 24px;
  color: var(--header-white-color);
}

.results_serch {
  color: var(--title-accent-collor);
  font-size: 24px;
}

@media (min-width: 325px) and (max-width: 768px) {
  .title {
    color: var(--title-accent-collor);
    font-size: 18px;
  }

  .text {
    color: var(--header-white-color);
    font-size: 16px;
  }

}

@media (min-width: 769px) and (max-width: 1440px) {
  .title {
    color: var(--title-accent-collor);
    font-size: 24px;
  }

  .text {
    color: var(--header-white-color);
    font-size: 20px;
  }

}
