.btn {
  border: 1px solid var(--header-white-color);
  border-radius: 10px;
  color: var(--header-white-color);
  display: block;
  padding: 8px 16px;
}

.you_tube{
    margin-bottom: 24px;
}

.list_btn{
    display: flex;
    gap: 24px;
    width: 200px;
    margin: 0 auto
}

.text{
  text-align: center;
    color: var(--header-white-color);
}